@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

p{
  padding-left:0.5rem
}
.success{
  
  border:0.5px solid green;
  background-color:#32CD32;
  margin:1rem;
 
}
.failure{
  border:0.5px solid red;
  background-color:#E23D28;
  margin:1rem;
}

.warning{
  border:0.5px solid orange;
  background-color:#ffc87c;
  margin:1rem;
}
.info{
  border:0.5px solid blue;
  background-color:#8ca0ff;
  margin:1rem;
}


