

.btn{
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid gray;
    cursor:pointer;
    margin: 0.2rem;
    font-size: 0.85rem;
  }

.btn-primary{
  color:white;
  background-color:#8ca0ff
}

.btn-secondary{
  color:#8ca0ff;
  background-color:white;
  border:1px solid #8ca0ff;
 }

.mgn-bottom{
  margin-bottom:11rem;
}



.modal-bg{
  position:fixed;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  background-color:gray;
  display:flex;
  justify-content:center;
  align-items:center;
  visibility:hidden;
  opacity:0;
  transition:visibility 0s, opacity 0.5s;
}

.bg-active{
  visibility:visible;
  opacity:1;
}



.modal{
  position:relative;
  background-color:white;
  
  width:30%;
  height:40%;
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-direction:column;
}

.modal-close{
  position:absolute;
  top:5px;
  right:5px;
  font-weight:bold;
  cursor:pointer;
}
