@import url("/css/root.css");

.strong{
    font-weight:bold;
  }
  
  .italic{
    font-style:italic;
  }
  
  .color{
    color:blue;
  }
  
  .highlight{
    background-color:var(--primary-color);
  }
  .underline{
    text-decoration:underline;
  }
  .line-through{
    text-decoration:line-through;
  }
  
  .left{
    text-align:left;
  }
  
  .center{
    text-align:center;
  }
  
  .right{
    text-align:right;
  }