<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docs</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA==" crossorigin="anonymous" /> -->
    
    <link href="/main.css" rel="stylesheet" />
    <link href="/css/badge.css" rel="stylesheet" />
    
</head>
<body>
    <div class="page">
      <header>
        <div class = "header">
            
        <h1  class="head-logo-padd head-color" id="logo">
        AASAN-UI</h1>
        <h3  class="head-padd head-color">
        <a class="link" href="/index.html">Home</a></h3>
        <h3 class="head-padd ">Docs</h3>
        <h3  class="head-padd head-color">
        <a class="link" href="/about.html">About</a></h3>
        </header>

          
        <nav>
          <div class="nav-li-ctn">
            <div class="nav-li">
            <a class="link" href="/components/alert.html">
                Alert</a></div> 
            
            <div class="nav-li">
              <a class="link" href="/components/avatar.html">
                Avatar</a></div>
            <div class="nav-li head-color-active">
                Badge</div>
            <div class="nav-li">
              <a class="link" href="/components/button.html">
                Button</a></div>
            <div class="nav-li">
              <a class="link" href="/components/card.html">
                Card</a></div>
            <div class="nav-li">
              <a class="link" href="/components/image.html">
                Image</a></div>
            <div class="nav-li">
              <a class="link" href="/components/input.html">
                Input</a></div>
            <div class="nav-li">
              <a class="link" href="/components/list.html">
                List</a></div>
            <div class="nav-li">
              <a class="link" href="/components/modal.html">
                Modal</a></div>
            <div class="nav-li">
              <a class="link" href="/components/navigation.html">
                Navigation</a></div>
            <div class="nav-li">
              <a class="link" href="/components/rating.html">
                Rating</a></div>
            <div class="nav-li">
              <a class="link" href="/components/toast.html">
                Toast</a></div>
            <div class="nav-li">
              <a class="link" href="/components/typography.html">
                Typography</a></div>
            
              </div>
          </nav>


        <main>
       <div>
         <div class="vl">
         
         <span>
          <h1 class="main-heading-center">Badge</h1>
          
           
          <div class="avatar-badge">
          <img class="avatar-small" src="/img/img_avatar.png" />
          <span class="badge-status online"></span>
          </div>
 
          <div class="avatar-badge">
          <img class="avatar-small" src="/img/img_avatar.png" />
          <span class="badge-status online1"></span>
          </div>

          <div class="iframe-container main-heading-center">
            <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522avatar-badge%2522%253E%250A%2520%2520%2520%253Cimg%2520class%253D%2522avatar-small%2520%2522%2520src%253D%2522%252Fimg%252Fimg_avatar.png%2522%2520%252F%253E%250A%2520%2520%2520%2520%253Cspan%2520class%253D%2522badge-status%2520online%2522%253E%253C%252Fspan%253E%250A%253C%252Fdiv%253E%250A%250A%253Cdiv%2520class%253D%2522avatar-badge%2522%253E%250A%2520%2520%2520%253Cimg%2520class%253D%2522avatar-small%2520%2522%2520src%253D%2522%252Fimg%252Fimg_avatar.png%2522%2520%252F%253E%250A%2520%2520%2520%2520%253Cspan%2520class%253D%2522badge-status%2520online1%2522%253E%253C%252Fspan%253E%250A%253C%252Fdiv%253E"
            style="width: 639px; height: 348px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
          </iframe>
         </div> 
         <hr style="width:50%;text-align:center">

         <div class="avatar-badge">
            <img class="avatar-small " src="https://www.w3schools.com/howto/img_avatar.png" />
             <span class="badge-status offline"></span>
             </div>
             <div class="iframe-container main-heading-center">
             
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253C%253Cdiv%2520class%253D%2522avatar-badge%2522%253E%250A%2520%2520%2520%253Cimg%2520class%253D%2522avatar-small%2520%2522%2520src%253D%2522%252Fimg%252Fimg_avatar.png%2522%2520%252F%253E%250A%2520%2520%2520%2520%253Cspan%2520class%253D%2522badge-status%2520offline%2522%253E%253C%252Fspan%253E%250A%253C%252Fdiv%253E"
                style="width: 639px; height: 258px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>
             </div> 
             <hr style="width:50%;text-align:center">

             <div class="avatar-badge">
                <img class="avatar-small " src="/img/img_avatar.png" />
               <span class="badge-status t"><small>7</small></span>
             </div>
             
             <div class="avatar-badge">
                <i class="fas fa-bell fa-2x"></i>
               <span class="badge-status-bell"><small>7</small></span>
             </div> 
             <div class="iframe-container main-heading-center">
             
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522avatar-badge%2522%253E%250A%2520%2520%2520%253Cimg%2520class%253D%2522avatar-small%2520%2522%2520src%253D%2522%252Fimg%252Fimg_avatar.png%2522%2520%252F%253E%250A%2520%2520%253Cspan%2520class%253D%2522badge-status%2520t%2522%253E%253Csmall%253E7%253C%252Fsmall%253E%253C%252Fspan%253E%250A%253C%252Fdiv%253E%250A%250A%253Cdiv%2520class%253D%2522avatar-badge%2522%253E%250A%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-bell%2520fa-2x%2522%253E%253C%252Fi%253E%250A%2520%2520%253Cspan%2520class%253D%2522badge-status-bell%2522%253E%253Csmall%253E7%253C%252Fsmall%253E%253C%252Fspan%253E%250A%253C%252Fdiv%253E"
                style="width: 639px; height: 348px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
                </div> 
               <hr style="width:50%;text-align:center">  
         

         </span>
        
         </div>
        </div>

        </main>
      </div>
    
</body>

</html>