<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docs</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA==" crossorigin="anonymous" /> -->
    
    <link href="/main.css" rel="stylesheet" />
    <link href="/css/input.css" rel="stylesheet" />
    <link href="/css/button.css" rel="stylesheet" />
    
</head>
<body>
    <div class="page">
      <header>
        <div class = "header">
            
        <h1  class="head-logo-padd head-color" id="logo">
        AASAN-UI</h1>
        <h3  class="head-padd head-color">
        <a class="link" href="/index.html">Home</a></h3>
        <h3 class="head-padd ">Docs</h3>
        <h3  class="head-padd head-color">
        <a class="link" href="/about.html">About</a></h3>
        </header>

          
           
        <nav>
          <ul>
            <div class="nav-li">
            <a class="link" href="/components/alert.html">
                Alert</a></div>
            <div class="nav-li">
              <a class="link" href="/components/avatar.html">
                Avatar</a></div>
            <div class="nav-li">
              <a class="link" href="/components/badge.html">
                Badge</a></div>
            <div class="nav-li">
              <a class="link" href="/components/button.html">
                Button</a></div>
            <div class="nav-li">
              <a class="link" href="/components/card.html">
                Card</a></div>
            <div class="nav-li">
              <a class="link" href="/components/image.html">
                Image</a></div>
            <div class="nav-li head-color-active">
                Input</div>
            <div class="nav-li">
              <a class="link" href="/components/list.html">
                List</a></div>
            <div class="nav-li">
              <a class="link" href="/components/modal.html">
                Modal</a></div>
            <div class="nav-li">
              <a class="link" href="/components/navigation.html">
                Navigation</a></div>
            <div class="nav-li">
              <a class="link" href="/components/rating.html">
                Rating</a></div>
            <div class="nav-li">
              <a class="link" href="/components/toast.html">
                Toast</a></div>
            <div class="nav-li">
              <a class="link" href="/components/typography.html">
                Typography</a></div>
            
          </ul>
          </nav>



        <main>
       <div>
         <div class="vl">
         
         <span>
          <h1 class="main-heading-center">Input</h1>
          <div class="component-position main-heading-center">
            <form>
                <label>Search:</label>
                <input type="search">
                <input class="btn btn-primary" type="submit">
              </form>
              <br>
              <form class="form">
               
                <input type="search" placeholder="Search...">
                <span class="ab"><i class="fas fa-search"></i></span>
                
              </form>
          </div>
          
          

          <div class="iframe-container main-heading-center">
            <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cform%253E%250A%2520%2520%253Clabel%253ESearch%253A%253C%252Flabel%253E%250A%2520%2520%253Cinput%2520type%253D%2522search%2522%253E%250A%2520%2520%253Cinput%2520class%253D%2522btn%2520btn-primary%2520%2522type%253D%2522submit%2522%253E%250A%253C%252Fform%253E%250A%250A%253Cform%2520class%253D%2522form%2522%253E%250A%2520%250A%2520%2520%253Cinput%2520type%253D%2522search%2522%2520placeholder%253D%2522Search...%2522%253E%250A%2520%2520%253Cspan%2520class%253D%2522ab%2522%253E%253Ci%2520class%253D%2522fas%2520fa-search%2522%253E%253C%252Fi%253E%253C%252Fspan%253E%250A%2520%2520%250A%253C%252Fform%253E"
            style="width: 614px; height: 402px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
          </iframe>
         </div> 
         </span>
        
         </div>
        </div>
        </main>

        <footer>
            <div class="main-heading-center">
                <h4>Made in 
        <span><img class="avatar avatar-small" src="/img/flag.png"></span>   by Sparsh Singh Rathore</h4>
        
          <ul class="list-non-bullet">
              <li class="list-item-inline">
                  <a href="https://github.com/sparsh2823" target="_blank">
                    <i class="fab fa-github"></i>
                  </a></li>
              <li class="list-item-inline">
                <a href="https://twitter.com/sparsh2823" target="_blank">
                    <i class="fab fa-twitter"></i>
                  </a></li>
              
              <li class="list-item-inline">
                <a href="https://www.linkedin.com/in/sparsh2823/" target="_blank">
                  <i class="fab fa-linkedin"></i>
                </a></li>
          </ul>
              <small>©️2021 AASAN-UI</small>
           
            </div>
        </footer>

       
         

      </div>
    
</body>

</html>